* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  background-color: #f4f7fd;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8rem;
  padding: 0 20rem;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header .title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 30px;
  color: #000112;
  text-decoration: none;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header ul li:not(:last-child) {
  margin-right: 2rem;
}

header ul a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: #828FA3;
  white-space: nowrap;
}

header ul a i {
  margin-right: .5rem;
}

header ul a:hover {
  color: #000112;
}

section {
  padding: 0 20rem;
}

.whatsapp-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none;
  background-color: #0cc242;
  padding: 1.6rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whatsapp-btn i {
  font-size: 3rem;
  color: white;
}

.about-section {
  padding-top: 8rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.about-section .description {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  border-left: 2px solid #635FC7;
  padding-left: 2rem;
}

.about-section .description h3 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 500;
}

.about-section .description h1 {
  margin-bottom: 2rem;
  font-size: 5rem;
}

.about-section .description p {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  line-height: 3.5rem;
}

.about-section .description button {
  width: 20rem;
}

.about-section .illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.about-section .illustration img {
  width: 100%;
}

.skills-section {
  padding-top: 15rem;
  padding-bottom: 10rem;
  background-color: #11081f;
  position: relative;
}

.skills-section h2 {
  position: absolute;
  top: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-size: 4rem;
}

.skills-section h2:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  height: 4px;
  width: 3rem;
  background-color: #635FC7;
}

.skills-section .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  background-color: #f4f7fd;
  border-radius: 2rem;
  overflow: hidden;
  padding: 4rem 2rem;
}

.skills-section .row .first-col {
  width: 50%;
  height: 100%;
  border-radius: 2rem;
}

.skills-section .row .first-col h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #828FA3;
  font-weight: 400;
}

.skills-section .row .first-col p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  line-height: 3rem;
}

.skills-section .row .first-col ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-section .row .first-col ul li {
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: rgba(0, 112, 240, 0.1) 2px 2px 2px;
          box-shadow: rgba(0, 112, 240, 0.1) 2px 2px 2px;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .8rem;
}

.skills-section .row .first-col ul li i {
  font-size: 2rem;
  color: #635fc7;
}

.skills-section .row .first-col ul li span {
  font-size: 1.2rem;
}

.skills-section .row .second-col {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15rem;
}

.skills-section .row .second-col .img {
  position: relative;
}

.skills-section .row .second-col .img img {
  width: 100%;
  height: auto;
  border: .8rem solid #635fc7;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.skills-section .row .second-col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  list-style: none;
}

.skills-section .row .second-col ul li {
  font-size: 3rem;
}

.skills-section .row .second-col ul li a {
  color: #635fc7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.skills-section .row .second-col ul li a i {
  color: inherit;
}

.skills-section .row .second-col ul li a:hover i {
  opacity: .7;
}

.timeline-section {
  padding-top: 20rem;
  padding-bottom: 10rem;
  position: relative;
}

.timeline-section .section-title {
  position: absolute;
  top: 8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-size: 4rem;
  color: #11081f;
  white-space: nowrap;
}

.timeline-section .section-title:after {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  height: 4px;
  width: 3rem;
  background-color: #635FC7;
}

.timeline-section .timeline {
  position: relative;
  padding: 4rem 0;
}

.timeline-section .timeline::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  border: 1.5px dashed #4b546f;
  z-index: -1;
}

.timeline-section .timeline .timeline-row {
  margin: 0 auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
  margin-bottom: 2rem;
}

.timeline-section .timeline .timeline-row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.timeline-section .timeline .timeline-row:nth-child(even) .timeline-time {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.timeline-section .timeline .timeline-row:nth-child(even) .timeline-content::after {
  right: unset;
  left: -3.5rem;
  -webkit-transform: rotate(90deg) translateY(-50%);
          transform: rotate(90deg) translateY(-50%);
}

.timeline-section .timeline .timeline-row:nth-child(even) .timeline-content::before {
  left: -4.9rem;
}

.timeline-section .timeline .timeline-row .timeline-time {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timeline-section .timeline .timeline-row .timeline-time .year {
  font-size: 1.8rem;
}

.timeline-section .timeline .timeline-row .timeline-content {
  width: 50%;
  padding: 1.4rem;
  border-radius: 2rem;
  background-color: #11081f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: center;
  position: relative;
}

.timeline-section .timeline .timeline-row .timeline-content a {
  color: inherit;
  text-decoration: none;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.timeline-section .timeline .timeline-row .timeline-content a:hover {
  text-decoration: underline;
}

.timeline-section .timeline .timeline-row .timeline-content::after {
  content: "";
  position: absolute;
  top: 35%;
  right: -3.5rem;
  border-width: 1.2rem;
  border-style: solid;
  border-color: #11081f transparent transparent transparent;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
}

.timeline-section .timeline .timeline-row .timeline-content::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -4.9rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #635fc7;
  z-index: 1000;
}

.work-section {
  padding-top: 20rem;
  padding-bottom: 10rem;
  position: relative;
  background-color: #11081f;
}

.work-section .section-title {
  position: absolute;
  top: 8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-size: 4rem;
  white-space: nowrap;
}

.work-section .section-title:after {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  height: 4px;
  width: 3rem;
  background-color: #635FC7;
}

.work-section .card {
  background-color: #f4f7fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2rem;
  padding: 2rem;
  gap: 1rem;
  min-height: 45rem;
}

.work-section .card:not(:last-child) {
  margin-bottom: 2rem;
}

.work-section .card .swiper {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
  width: 50%;
}

.work-section .card .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
}

.work-section .card .swiper .swiper-button-next,
.work-section .card .swiper .swiper-button-prev {
  color: #635fc7;
}

.work-section .card .img {
  width: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
  overflow: hidden;
  background-size: cover;
  background-position: top;
  -webkit-transition: background-position 4s;
  transition: background-position 4s;
}

.work-section .card:hover .img {
  background-position: bottom;
}

.work-section .card .details {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 3rem;
}

.work-section .card .details h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #11081f;
  margin-bottom: 3rem;
}

.work-section .card .details p {
  font-size: 1.7rem;
  margin-bottom: 3rem;
  color: #828FA3;
}

.work-section .card .details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  font-size: 1.4rem;
  gap: 1rem;
}

.work-section .card .details ul li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 1rem;
  background-color: white;
  color: #635fc7;
  -webkit-box-shadow: rgba(0, 112, 240, 0.1) 2px 2px 2px;
          box-shadow: rgba(0, 112, 240, 0.1) 2px 2px 2px;
  border-radius: 1rem;
}

.contact-section {
  padding: 20rem 50rem 10rem 50rem;
  position: relative;
}

.contact-section h2 {
  position: absolute;
  top: 8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #11081f;
  font-size: 4rem;
}

.contact-section h2:after {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  height: 4px;
  width: 3rem;
  background-color: #635FC7;
}

.contact-section h4 {
  color: #11081f;
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 3rem;
}

.contact-section h4 a {
  color: #635fc7;
  text-decoration: none;
  margin-left: .5rem;
}

.contact-section h4 a:hover {
  text-decoration: underline;
}

.contact-section p {
  color: #11081f;
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 3rem;
}

.contact-section .form-group {
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section .form-group label {
  color: #11081f;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.contact-section .form-group input {
  height: 5rem;
  padding: 1rem;
  outline: hidden;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 10px;
  border: 2px solid #635fc7;
}

.contact-section .form-group input:focus {
  outline: none;
}

.contact-section .form-group textarea {
  height: 15rem;
  padding: 1rem;
  outline: hidden;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 10px;
  border: 2px solid #635fc7;
}

.contact-section .form-group textarea:focus {
  outline: none;
}

footer {
  height: 8rem;
  padding: 0 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #11081f;
}

footer p {
  color: white;
  white-space: nowrap;
  font-size: 1.7rem;
}

footer span {
  margin: 0 1rem;
  font-size: 1.7rem;
}

footer a {
  text-decoration: none;
}

footer a i {
  margin-right: .8rem;
  font-size: 1.9rem;
  color: white;
}

footer a:hover i {
  opacity: .7;
}

.btn {
  border-radius: 20px;
  height: 4.5rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 23px;
  border: none;
  padding: 0 2rem;
  cursor: pointer;
}

.btn.primary {
  background: #635FC7;
  color: white;
}

.btn.primary:hover {
  background-color: #A8A4FF;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.btn.secondary {
  background: rgba(99, 95, 199, 0.1);
  color: #635FC7;
}

.btn.secondary:hover {
  background: rgba(99, 95, 199, 0.25);
  -webkit-transition: background 1s;
  transition: background 1s;
}

@media (max-width: 576px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header ul {
    padding-bottom: 1rem;
  }
  .header a {
    margin-bottom: .2rem;
  }
}

@media (max-width: 768px) {
  .work-section .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work-section .card .swiper,
  .work-section .card .details {
    width: 100%;
  }
  .work-section .card .swiper {
    margin-bottom: 2rem;
  }
  .timeline-section {
    padding: 20rem 3rem 10rem 3rem !important;
  }
  .timeline-section .timeline .timeline-row {
    width: 100%;
    gap: 0;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin-bottom: 2rem;
  }
  .timeline-section .timeline .timeline-row .timeline-time {
    margin-bottom: 1rem;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: initial !important;
        -ms-flex-align: initial !important;
            align-items: initial !important;
  }
  .timeline-section .timeline .timeline-row .timeline-content {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .timeline-section .timeline .timeline-row .timeline-content::after {
    display: none;
  }
  .timeline-section .timeline .timeline-row .timeline-content::before {
    display: none;
  }
  .timeline-section .timeline::after {
    display: none;
  }
  .contact-section {
    padding: 20rem 3rem 10rem 3rem !important;
  }
}

@media (max-width: 992px) {
  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 12rem;
  }
  .about-section .description {
    width: 100%;
    margin-bottom: 10rem;
  }
  .work-section .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .work-section .card:hover {
    -webkit-transform: none !important;
            transform: none !important;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 6px;
  }
  .skills-section .row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact-section {
    padding: 20rem 20rem 10rem 20rem;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 8px;
  }
  .header {
    padding: 0 3rem;
  }
  section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */