* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: #010409;
  position: relative;
  overflow-x: hidden;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  background: url("/assets/img/gradient-bg.svg");
  background-repeat: no-repeat;
  background-position: top;
  z-index: -1;
}

body::before {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  opacity: .2;
  background-image: url("/assets/img/noise-light.webp");
  z-index: -1;
}

body .container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem 0;
}

body .container .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem 1rem;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  border-radius: 1rem;
  z-index: 3000;
  background-color: rgba(24, 24, 29, 0.3);
}

body .container .header .burger-btn {
  display: none;
}

body .container .header .separator {
  color: white;
  font-size: 1rem;
  font-weight: 200;
}

body .container .header .logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .header .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: white;
}

body .container .header .navigation-list i {
  font-size: 1.3rem;
  color: #9ca3af;
}

body .container .header .navigation-list li a {
  font-size: .9rem;
  font-weight: 500;
}

body .container .header .navigation-list li a:hover {
  opacity: .8;
}

body .container section {
  padding: 5rem 0 2rem 0;
}

body .container .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

body .container .hero .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  width: 50%;
}

body .container .hero .text h1 {
  font-size: 3rem;
  color: white;
}

body .container .hero .text h1 span {
  color: #723fc7;
}

body .container .hero .text p {
  color: white;
  line-height: 2rem;
}

body .container .hero .text .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

body .container .hero .profile {
  position: relative;
  width: 50%;
}

body .container .hero .profile .profile-img {
  border-radius: 1rem;
}

body .container .hero .profile .dots {
  height: 100%;
  top: -1rem;
  right: -3rem;
  position: absolute;
  z-index: -1;
  opacity: .2;
}

body .container .about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

body .container .about .about-content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

body .container .about .about-content .text p {
  color: white;
}

body .container .about .about-content img {
  border-radius: 1rem;
}

body .container .experience {
  width: 100%;
}

body .container .experience .timeline {
  width: 100%;
  position: relative;
  padding: 2rem 0;
}

body .container .experience .timeline::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  border: 1.5px dashed white;
}

body .container .experience .timeline .timeline-row {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
  margin-bottom: 2rem;
}

body .container .experience .timeline .timeline-row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .container .experience .timeline .timeline-row:nth-child(even) .timeline-time {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .container .experience .timeline .timeline-row:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  display: block;
  width: 0px;
  right: 0;
  left: -15px;
  top: 50%;
  border: 15px solid transparent;
  border-right: 0;
  border-left: 15px solid #383737;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

body .container .experience .timeline .timeline-row:nth-child(even) .timeline-content::before {
  left: -4.7rem;
}

body .container .experience .timeline .timeline-row .timeline-time {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

body .container .experience .timeline .timeline-row .timeline-time .year {
  font-size: 1.4rem;
}

body .container .experience .timeline .timeline-row .timeline-content {
  border: 1.5px solid #383737;
  width: 50%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: center;
  position: relative;
}

body .container .experience .timeline .timeline-row .timeline-content a {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
}

body .container .experience .timeline .timeline-row .timeline-content a:hover {
  text-decoration: underline;
}

body .container .experience .timeline .timeline-row .timeline-content::after {
  content: '';
  position: absolute;
  display: block;
  width: 0px;
  right: 4px;
  top: 50%;
  border: 15px solid transparent;
  border-right: 0;
  border-left: 15px solid #383737;
  -webkit-transform: translate(calc(100% + 5px), -50%);
          transform: translate(calc(100% + 5px), -50%);
}

body .container .experience .timeline .timeline-row .timeline-content::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -4.7rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #635fc7;
  z-index: 1000;
}

body .container .services .services-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .container .services .services-grid .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 15rem;
  min-width: 18.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

body .container .services .services-grid .card img {
  width: 7.25rem;
  height: auto;
}

body .container .stack .stack-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

body .container .stack .stack-grid .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 12rem;
  min-width: 14.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 14.75rem;
}

body .container .stack .stack-grid .card img {
  width: 5.25rem;
  height: auto;
}

body .container .projects .projects-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

body .container .projects .projects-grid .card {
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .container .projects .projects-grid .card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 100%;
}

body .container .projects .projects-grid .card .details a {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: underline;
}

body .container .projects .projects-grid .card .details p {
  color: #9ca3af;
}

body .container .projects .projects-grid .card .details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

body .container .projects .projects-grid .card .details ul li {
  background-color: #010409;
  padding: .7rem;
  border-radius: 1rem;
  border: 1.5px solid #383737;
  font-size: .8rem;
}

body .container .contact .form-container {
  background-color: #181818;
  border-radius: 1rem;
  border: 1.5px solid #383737;
}

body .container .contact .form-container header {
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
  border-bottom: 1.5px solid #383737;
}

body .container .contact .form-container header span {
  font-size: 1.2rem;
  font-weight: 600;
}

body .container .contact .form-container header .actions {
  position: absolute;
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

body .container .contact .form-container header .actions span {
  border-radius: 50px;
  display: block;
  width: .8rem;
  height: .8rem;
}

body .container .contact .form-container header .actions span:nth-child(1) {
  background-color: #ff6057;
}

body .container .contact .form-container header .actions span:nth-child(2) {
  background-color: #fdbc2e;
}

body .container .contact .form-container header .actions span:nth-child(3) {
  background-color: #27c840;
}

body .container .contact .form-container form {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .contact .form-container form .success-msg {
  background-color: #010409;
  display: none;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 1rem 1.5rem 1.6rem;
  border-radius: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  position: relative;
  overflow: hidden;
}

body .container .contact .form-container form .success-msg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: .8rem;
  height: 100%;
  background-color: #27c840;
}

body .container .contact .form-container form .success-msg i {
  font-size: 1.2rem;
}

body .container .contact .form-container form .form-group {
  border-bottom: 1.5px solid #383737;
  padding: .6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .4rem;
}

body .container .contact .form-container form .form-group label {
  font-size: .8rem;
  color: white;
  font-weight: 600;
}

body .container .contact .form-container form .form-group input {
  height: 2rem;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #9ca3af;
}

body .container .contact .form-container form .form-group input:focus {
  outline: none;
}

body .container .contact .form-container form .form-group textarea {
  width: 100%;
}

body .container .contact .form-container form .message {
  margin: 2rem 0;
}

body .container .contact .form-container form .message textarea {
  border-radius: 1rem;
  border: 1.5px solid #383737;
  background-color: #010409;
  width: 100%;
  padding: 1rem;
  color: #9ca3af;
}

body .container .contact .form-container form .message textarea:focus {
  outline: none;
}

body .container .contact .form-container form button {
  height: 3.5rem;
}

body .container footer {
  margin-top: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

body .container footer p {
  color: white;
  white-space: nowrap;
  font-size: 1rem;
}

body .container footer span {
  margin: 0 1rem;
  font-size: 1.4rem;
  color: white;
}

body .container footer a {
  text-decoration: none;
}

body .container footer a i {
  margin-right: .8rem;
  font-size: 1.9rem;
  color: white;
}

body .container footer a:hover i {
  opacity: .7;
}

.card {
  border: 1.5px solid #383737;
  padding: 1rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #181818;
}

.section-title {
  margin-bottom: 4rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section-title::after {
  content: "";
  height: 1.5px;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #383737;
  background: -webkit-gradient(linear, right top, left top, color-stop(20%, rgba(56, 55, 55, 0)), color-stop(50%, #383737), color-stop(80%, rgba(56, 55, 55, 0)));
  background: linear-gradient(270deg, rgba(56, 55, 55, 0) 20%, #383737 50%, rgba(56, 55, 55, 0) 80%);
  z-index: 1;
}

.section-title h2 {
  text-transform: uppercase;
  border: 1.5px solid #383737;
  color: white;
  padding: .6rem 2rem;
  background-color: #010409;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 2;
}

.btn {
  padding: .8rem 2rem;
  border-radius: .6rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn a {
  width: 100%;
  height: 100%;
}

.btn:hover {
  opacity: .8;
}

.btn.secondary {
  background-color: #f6f8fa;
  color: #723fc7;
}

.btn.primary {
  color: white;
  background-color: #723fc7;
}

.swiper {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
  width: 100%;
}

.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: #635fc7;
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  font-size: 2rem;
}

@media (max-width: 768px) {
  body .container .hero .profile {
    width: 100%;
  }
  body .container .hero .text {
    width: 100%;
  }
  body .container .header {
    position: relative;
  }
  body .container .header .navigation-list {
    display: none;
  }
  body .container .header .burger-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
  }
  body .container .header.collapsed {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  body .container .header.collapsed .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 0;
  }
  body .container .header.collapsed .navigation-list li {
    width: 100%;
    padding: 1rem 0;
  }
  body .container .header.collapsed .navigation-list li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.166);
  }
  body .container .header.collapsed .navigation-list li a {
    font-size: 1.1rem;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experience .timeline .timeline-row {
    width: 100%;
    gap: 0 !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .experience .timeline .timeline-row .timeline-time {
    margin-bottom: 1rem;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: initial !important;
        -ms-flex-align: initial !important;
            align-items: initial !important;
  }
  .experience .timeline .timeline-row .timeline-content {
    width: 100% !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .experience .timeline .timeline-row .timeline-content::after {
    display: none !important;
  }
  .experience .timeline .timeline-row .timeline-content::before {
    display: none !important;
  }
  .experience .timeline::after {
    display: none;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }
  body .container {
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */